//PRIMARY
$lightRed: hsl(356, 100%, 66%); //CTA text
$lightPink: hsl(355, 100%, 74%); //CTA hover background
$darkBlue: hsl(208, 49%, 24%); //headings

//NEUTRALS
$white: hsl(0, 0%, 100%); //text
$grayishBlue: hsl(240, 2%, 79%); //footer text
$darkGrayishBlue: hsl(207, 13%, 34%); //body (copy)
$darkBlackBlue: hsl(240, 10%, 16%); //footer bg

//GRADIENTS
$gradientOrange: hsl(13, 100%, 72%);
$gradientPink: hsl(353, 100%, 62%);

//BACKGROUND GRADIENTS BODY
$darkGrayBlue: hsl(237, 17%, 21%);
$desaturatedBlue: hsl(237, 23%, 32%);

